.Table__header {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 40px;
}
.Table__header button {
    background-color: inherit;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
