.Doughnuts{
    display: flex;
    column-gap: 24px;
}
.Doughnut__container {
    width: 100%;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.Doughnut__wrapper {
    width: 100%;
}

