.Filters {
    display: flex;
    column-gap: 24px;
    margin-bottom: 16px;
}
.Filters select,
.Filters input,
.Filters input::placeholder{
    background-color: #1A1A1D;
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
}
